<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>

<ul>
    <li><a href="/">Home</a></li>
    <li style="float:right" class="dropdown">
        <a style="alignment: left" href="javascript:void(0)" class="dropbtn">More</a>
        <div class="dropdown-content">
            <a href="matches.html">Matches</a>
            <a href="profile.html">Profile</a>

            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <form th:action="@{/adminpanel}" method="get">
                    <input class="nav btn-admin-panel" type="submit" value="Admin panel"/>
                </form>
            </div>
            <div>
                <form name="form-logout" th:action="@{/logout}" method="post">
                    <button class="nav btn-logout" type="submit">Logout</button>
                </form>
            </div>
        </div>
    <li/>
</ul>
<h1>Welcome to ADMIN PANEL</h1>

    <form th:action="@{/listofgoats}" method="get">
        <input class="btn btn-list-of-goats" type="submit" value="List of goats"/>
    </form>

</body>
</html>