<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>

<ul style="width: 105%; margin-left: -15px">
    <li><a href="/">Home</a></li>
    <li style="float:right; margin-right: 2.6%" class="dropdown">
        <a style="alignment: left" href="javascript:void(0)" class="dropbtn">More</a>
        <div class="dropdown-content">
            <a href="matches.html">Matches</a>
            <a href="profile.html">Profile</a>
            <a href="settings.html">Settings</a>

            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="adminpanel.html">Admin panel</a>
            </div>

            <div>
                <form name="form-logout" th:action="@{/logout}" method="post">
                    <button class="nav-logout" type="submit">Logout</button>
                </form>
            </div>
        </div>
    <li/>
</ul>

<h1>Welcome to ADMIN PANEL</h1>

</body>
</html>