<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>501 Method not implemented</title>
    <link rel="stylesheet" href="stylesheet.css"/>
    <style>
        h1 {text-align:center;}
        h2 {text-align:center;}
        p {text-align:center;}
    </style>
</head>

<h1 style="padding-top: 250px">501 - Method not implemented</h1>
<h2 style="padding-top: 100px">It seems that you are trying to do something that this service does not provide.</h2>
<h2>Our Computer Scientists are on their way to examine the problem</h2>
</body>
</html>