<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>405 Method Not Allowed</title>
    <link rel="stylesheet" href="stylesheet.css"/>
    <style>
        h1 {text-align:center;}
        h2 {text-align:center;}
        p {text-align:center;}
    </style>
</head>
<body>

<h1 style="padding-top: 250px">405 - The chosen age is not allowed.</h1>
<h2 style="padding-top: 100px">It is not possible to create a user with the supplied date of birth, please wait until you are old enough.</h2>


</body>
</html>