<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GoatGrindr</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
    <img id="logo" src="/images/logo.png" alt="logo"/>
    <div class="settings-action" onclick="window.location.href='settings.html'"><img src="images/dropdown_arrow.png" alt="settings" width="40", height="40"/></div>
    <div class="global-actions">
        <div class="left-action"><img src="/images/dislike.png" alt="dislike" width="40" height="40"/></div>
        <div class="right-action"><img src="/images/like.png" alt="like" width="40" height="40"/></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="/js/MainPage.js"></script>
</body>
</html>