<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <title>GoatGrindr</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>

<ul style="width: 105%; margin-left: -15px">
    <li><a href="/">Home</a></li>
    <li style="float:right; margin-right: 2.6%" class="dropdown">
        <a style="alignment: left" href="javascript:void(0)" class="dropbtn">More</a>
        <div class="dropdown-content">
            <a href="matches.html">Matches</a>
            <a href="profile.html">Profile</a>
            <a href="settings.html">Settings</a>

            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <form th:action="@{/adminpanel}" method="get">
                    <input class="nav btn-admin-panel" type="submit" value="Admin panel"/>
                </form>
            </div>
            <div>
                <form name="form-logout" th:action="@{/logout}" method="post">
                    <button class="nav btn-logout" type="submit">Logout</button>
                </form>
            </div>
        </div>
    <li/>
</ul>
    <img id="logo" src="/images/logo.png" alt="logo"/>

    <!-- <div class="settings-action" onclick="window.location.href='settings.html'"><img src="images/dropdown_arrow.png" alt="settings" width="40", height="40"/></div>
    -->
    <div class="global-actions">
        <div class="left-action"><img src="/images/dislike.png" alt="dislike" width="40" height="40"/></div>
        <div class="right-action"><img src="/images/like.png" alt="like" width="40" height="40"/></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/MainPage.js}"></script>
    <span id="username" sec:authentication="name"></span>
</body>
</html>