<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of goats</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>

<ul>
    <li><a href="/">Home</a></li>
    <li style="float:right" class="dropdown">
        <a style="alignment: left" href="javascript:void(0)" class="dropbtn">More</a>
        <div class="dropdown-content">
            <a href="matches.html">Matches</a>
            <a href="profile.html">Profile</a>

            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <form th:action="@{/adminpanel}" method="get">
                    <input class="nav btn-admin-panel" type="submit" value="Admin panel"/>
                </form>
            </div>
            <div>
                <form name="form-logout" th:action="@{/logout}" method="post">
                    <button class="nav btn-logout" type="submit">Logout</button>
                </form>
            </div>
        </div>
    <li/>
</ul>
<section class="admin-panel">
    <table class="table-users-admin-panel">
        <thead>
        <tr>
            <th class="admin-panel-goat-id">Id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Short description</th>
            <th>Long description</th>
            <th style="text-align: center">Role</th>
            <th id="th-options">Options</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="goat : ${getGoats}">
            <td class="admin-panel-goat-id" th:text="${goat.id}"></td>
            <td th:text="${goat.username}"></td>
            <td th:text="${goat.name}"></td>
            <td th:text="${goat.gender}"></td>
            <td th:text="${goat.dob}"></td>
            <td th:text="${goat.shortDescription}"></td>
            <td th:text="${goat.longDescription}"></td>
            <td style="text-align: center"> <div th:each="a : ${goat.authorizations}" th:text="${a.role}"></div> </td>
            <td id="td-options">
                <form th:action="@{'/changerole/' + ${goat.id}}" method="post">
                    <input class="btn btn-change-role-to-admin" type="submit" value="Make Admin"/>
                </form>
                <form th:action="@{'/listofgoats/' + ${goat.id}}" method="post">
                    <input class="btn btn-delete-goat" type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>