<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>

<h1>This is the settings page!</h1>

<!-- TODO: Get information from the fields, and construct a Goat object -->
<p>Change information</p>
<form th:action="@{/changeinformation}" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="password" placeholder="Password">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="short_description" placeholder="Short Description">
    <input type="text" name="long_description" placeholder="Long Description">
    <select name="gender">
        <option value="MALE">Male</option>
        <option value="FEMALE">Female</option>
        <option value="NONE">None</option>
    </select>
    <input type="submit" value="Add information"/>
</form>

</body>
</html>