<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <script src="jquery.js"></script>
    <script>
        $(function(){
            $("#includedContent").load("navmenu.html");
        });
    </script>
</head>
<body>
    <h1>Testing Thymeleaf</h1>
    <span th:text="'Hello ' + ${name}"> Who are you? </span>
    <ol>
        <li th:each="quality : ${qualities}" th:text="${quality}"></li>
    </ol>
</body>
</html>